---
const showElement = import.meta.env.BANNER === "true";
---

{
  showElement && (
    <div class="text-center bg-skin-accent px-6 py-2.5 sm:px-3.5">
      <p class="text-sm text-white leading-6">
        <a href="https://habituo.app">
          <strong class="font-bold">🌳 Habituo.app</strong>
          <svg
            viewBox="0 0 2 2"
            class="mx-2 inline h-0.5 w-0.5 fill-current"
            aria-hidden="true"
          >
            <circle cx="1" cy="1" r="1" />
          </svg>
          Launching soon! Sign up for the waitlist! &nbsp;
          <span aria-hidden="true">&rarr;</span>
        </a>
      </p>
    </div>
  )
}
