---
export interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<a href={`/tags/${tag}/`} transition:name={tag} class="tag">
  #{tag}
</a>

<style>
  .tag {
    @apply mr-1.5 mt-2 inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset;
  }
  html[data-theme="dark"] .tag {
    @apply bg-slate-400/10 hover:bg-slate-400/20 text-slate-400 hover:text-slate-300 ring-slate-400/20 hover:ring-slate-400/30;
  }

  html[data-theme="light"] .tag {
    @apply bg-slate-700/10 text-slate-700 ring-slate-700/20 hover:bg-slate-700/20 hover:text-slate-800 hover:ring-slate-700/30;
  }
</style>
