---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SkillBadge from "@components/SkillBadge.astro";
import LinkButton from "@components/LinkButton.astro";
import { SITE, EXPERIENCE } from "@config";
import ExperienceCard from "@components/ExperienceCard.astro";
---

<Layout title={`Experience | ${SITE.title}`}>
  <Header activeNav="experience" />
  <Main pageTitle="Experience">
    <button onclick="sa_event('btn_clicked')">
      <LinkButton
        className="mb-8 underline decoration-dashed underline-offset-4 hover:text-skin-accent"
        href="/assets/downloads/maciej-janowski-resume.pdf"
      >
        Download
      </LinkButton> my Resume as PDF
    </button>
    {EXPERIENCE.map(experience => <ExperienceCard experience={experience} />)}
  </Main>
  <Footer />
</Layout>
