---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SkillList from "@components/SkillList.astro";
import { SITE } from "@config";


---

<Layout title={`Skills | ${SITE.title}`}>
  <Header activeNav="skills" />
  <Main pageTitle="Skills">
    <SkillList/>
  </Main>

  <Footer />
</Layout>

<style>
  .skills {
    @apply text-lg;
  }
</style>
